// COLOR VARIABLES
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$white: hsl(0, 0%, 100%);

// FONT VARIABLES
$default-font-size: 1.6rem;
$font-primary: "Rubik", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;

// RESPONSIVE BREAKPOINT
$xs-screen: 414px;
$sm-screen: 600px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;
